<!-- <h1>Add a comment to your <%=@excursion.title%> Excursion:</h1> -->

<!-- <%=form_for([@passenger, @excursion, @passenger_excursion]) do |f|%>
  <%=f.label :comment%><br>
  <%=f.text_area :comment, cols: "50", rows: "5", class: "comment_text_area"%><br> -->
  <div class="add_comment_form">
    <input type="text" value="" class="comment_text_area_<%=@excursion.id%>">
    <button type="button" id="submit" onclick="submitComment(<%=@passenger.id%>, <%=@excursion.id%>, <%=@passenger_excursion.id%>)" data-submiturl="/passengers/<%@passenger.id%>/excursions/<%=@excursion.id%>/passenger_excursions/<%=@passenger_excursion.id%>">Submit</button>
  </div>


<!-- <span id="submit" data-submiturl="/passengers/<%@passenger.id%>/excursions/<%=@excursion.id%>/passenger_excursions/<%=@passenger_excursion.id%>"><%=f.submit "Submit", :class => "submit_comment"%></span> -->
<!-- <%end%> -->
