<h1>Welcome <%=@passenger.name%>!</h1>

<h3>Your Ship is: <%=@passenger.ship.name%></h3>

<h3>Your Captain is: <%=ship_captain(@passenger)%></h3>

<h3>Your Excursions:</h3>

<%= render partial: "excursions", locals: {excursions: @excursions, passenger: @passenger, passenger_excursion: @passenger_excursion} %>


<h3>Total Excursion Time: <%=pluralize_hours(@passenger)%>.</h3>

<%=link_to("Add Excursion", new_passenger_excursion_path(@passenger))%><br>
