<h1 class="passenger_name" data-id="<%=@passenger.id%>">Welcome <%=@passenger.name%>!</h1>

<h3>Your Ship is: <%=@passenger.ship.name%></h3>

<h3>Your Captain is: <%=ship_captain(@passenger)%></h3>

<h3>Your Excursions:</h3>

<%= render partial: "excursions", locals: {excursions: @excursions, passenger: @passenger, passenger_excursion: @passenger_excursion} %>

<div class="ports" onclick="showPorts(<%=@passenger.id%>)">
  <span class="link ports_link">Show Ports</span>
</div>

<h3 class="total_time">Total Excursion Time: <%=pluralize_hours(@passenger)%>.</h3>

<div class="add_excursion_div">
  <span class="link add_excursion" onclick="addExcursion()">Add Excursion</span>
  <!-- <%=link_to("Add Excursion", new_passenger_excursion_path(@passenger))%><br> -->
</div>
