<h1>Welcome <%=@passenger.name%>!</h1>

<h3>Your ship is: <%=@passenger.ship.name%></h3>

<h3>Your Excursions:</h3>

<%= render partial: "excursions", locals: {excursions: @excursions, passenger: @passenger} %>


<h3>Total Excursion Time: <%=@passenger.total_excursion_time%> hour(s).</h3>

<%=link_to("Add Excursion", new_passenger_excursion_path(@passenger))%><br>
