<h2>Add Excursion:</h2>

<%= render partial: "form_add", locals: {passenger: @passenger, excursion: @excersion, excursions: @excursions} %>

<h4>Click the below links to learn more about each Excursion:</h4>

<%@excursions.each do |e|%>
    <div class=" link excursion_link excursion_id_<%=e.id%>" onclick="showExcursion(<%=@passenger.id%>, <%=e.id%>, '<%=e.title%>')"><%=e.title%></div>
<%end%>
<br><br>
