<!DOCTYPE html>
<html>
  <head>
    <title>CruiseShip</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="header">
    <a id="home_link" class="links" href="<%=root_path%>">Home</a>
    <%if logged_in?%>
    <a class="links" href="<%=current_user_path%>"><%=current_user%></a>
    <a class="links" href="<%=logout_path%>">Logout</a>
    <%else %>
      <a class="links" href="<%=login_path%>">Passenger Login</a>
      <a class="links" href="<%=captain_login_path%>">Captain Login</a>
      <a class="links" href="<%=new_passenger_path%>">Sign Up</a>
    <%end%>

  </div>
  <body class="body">
    <div class="inner_body">
        <%= image_tag("beach.jpg", :alt => "beach", :class => "style_image") %>
    </div>

    <% flash.each do |name, msg| -%>
       <%= content_tag :div, msg, class: name %>
    <% end -%>
    <%= yield %>

  </body>
  <footer>
    <div class="">
      © 2018 Cruise Navigator
    </div>
  </footer>
</html>
